:root {
  --neutral-tan: hsl(35, 27%, 91%);
  --blue: hsl(220, 23%, 31%);
  --dark-blue: hsl(220, 24%, 20%);
  --neutral-white: hsl(0, 0%, 100%);
  --hyperlink-color: color: hsl(228, 45%, 44%);
  --heading-font-family: 'Alegreya', serif;
  --body-font-family: 'Raleway', sans-serif

}

:root {
  background-color: var(--neutral-tan);
  background-size: cover;
}

/* Decent Defaults */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-flow: row dense;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

img {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:nth-child(5n + 1) {
  grid-row-end: span 1;
}

img:nth-child(6n + 1) {
  grid-column-end: span 2;
}


#menu {
  z-index: 1;
  background: var(--dark-blue);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  transform: translateX(100%);
  transition: all 300ms;
}

#menu:target {
  transform: translateX(0);
}
#menu a {
  color: white
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  
}
