/* Custom Properties */
:root {
  --neutral-tan: hsl(35, 27%, 91%);
  --blue: hsl(220, 23%, 31%);
  --dark-blue: hsl(220, 24%, 20%);
  --neutral-white: hsl(0, 0%, 100%);
  --hyperlink-color: color: hsl(228, 45%, 44%);
  --heading-font-family: 'Alegreya', serif;
  --body-font-family: 'Raleway', sans-serif

}

:root {
  background-color: var(--neutral-tan);
  background-size: cover;
}

/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
}


/* Mobile Only Styles */
@media (max-width: 47.9375em) {
  #menu {
    background: var(--dark-blue);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 0;
    padding: 1rem;
    list-style-type: none;
    transform: translateX(100%);
    transition: all 300ms;
  }

  #menu:target {
    transform: translateX(0);
  }
  #menu a {
    color: white
  }
}

/* Desktop Only Styles */
@media (min-width: 48em) {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--neutral-tan);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(--dark-blue);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: raleway;
    font-weight: 900;
  }
  
  li a:hover {
    background-color: var(--neutral-tan);
  }

  .logo {
    margin: 0;
    padding: 0;
    float: left;
    height: 4rem;
    width: 4rem;
  }
}