/* Custom Properties */
:root {
  --neutral-tan: hsl(35, 27%, 91%);
  --blue: hsl(220, 23%, 31%);
  --dark-blue: hsl(220, 24%, 20%);
  --neutral-white: hsl(0, 0%, 100%);
  --hyperlink-color: color: hsl(228, 45%, 44%);
  --heading-font-family: 'Alegreya', serif;
  --body-font-family: 'Raleway', sans-serif

}

:root {
  background-color: var(--neutral-tan);
  background-size: cover;
}

/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.bg-image {
  margin-top: 4rem;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://images.unsplash.com/photo-1606744824163-985d376605aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 4.0625rem;
  letter-spacing: 0px;
  margin: 0 0 5px;
}

.overlay p {
  margin: 0;
  font-size: 1.75rem;
}

#menu {
  background: var(--dark-blue);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  transform: translateX(100%);
  transition: all 300ms;
}

#menu:target {
  transform: translateX(0);
}
#menu a {
  color: white
}

.column {
  float: left;
  width: 33.33%;
  padding: 1rem;
  align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  align-items: center;
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
  
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  
}

